torch
torchvision
torchaudio
transformers
peft
datasets
openai
google-generativeai
wandb
requests
google-api-python-client
IMDbPY
ipdb
tqdm
python-dotenv
langdetect
scipy
vllm==0.10.1.1
google-genai
xai-sdk
openai-harmony
anthropic
pandas